.preview-render-github h1, h2, h3, p {
  /* font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji; */
  font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

.preview-render-github h1, .preview-render-github h2 {
  padding-bottom: .3em;
  border-bottom: 1px solid #eaecef;
}

.preview-render-github h1 {
  font-size: 16px;
}

.preview-render-github h2 {
  margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
}

.preview-render-github h3 {
  font-size: 16px;
}

.preview-render-github p {
  font-size: 16px;
}



.preview-render-github code {
    background-color: whitesmoke;
}


.preview-render-github pre {
  padding: 10px;
  background-color: whitesmoke;
}

.preview-render-github blockquote {
  border-left: 5px solid rgb(128, 128, 128, 0.4);
  padding-left: 20px;
}




.preview-render-github table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
.preview-render-github table tr:nth-child(even){background-color: #f2f2f2;}
  
.preview-render-github table tr:hover {background-color: #ddd;}
  
.preview-render-github table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background: rgb(0,109,119);
  color: white;
}