#preview-panel {
    width: 50%;
    height: auto;
    margin: 10px;
    /* border: solid 1px rgb(0, 109, 119, 0.5); */
    border-radius: 0.7%;
    padding: 10px;
    background-color: #fbfbfb;
    /* box-shadow: 0 20px 25px -5px rgba(240, 233, 230, 0.5), 0 10px 10px -5px rgba(0, 0, 0, 0.04); */
  }
  
#preview {
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  background-color:#fbfbfb;
  border-radius: 0.7%;
  /* box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04); */
  
  font-size: 18px;
}

#preview-panel-header {
  display: flex;
  justify-content: space-between;
  font-family: 'Hind', Helvetica, sans-serif;
  margin-bottom: 10px;
}

@media screen and (max-width: 992px) {
  #preview-panel {
    width: auto;
  }

 #preview code {
  font-size: 0.6rem;
 }

 #preview img {
  max-width: 100%;
  height: auto;
  width: auto;
 }
}