#preview-panel {
    width: 50%;
    height: auto;
    margin: 10px;
    /* border: solid 1px rgb(0, 109, 119, 0.5); */
    border-radius: 0.7%;
    padding: 10px;
    background-color: #fbfbfb;
    /* box-shadow: 0 20px 25px -5px rgba(240, 233, 230, 0.5), 0 10px 10px -5px rgba(0, 0, 0, 0.04); */
  }
  
#preview {
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  /* background-color:#fbfbfb; */
  border-radius: 0.7%;
  /* box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04); */
  
  font-size: 18px;
}

#preview-panel-header {
  display: flex;
  justify-content: space-between;
  color: rgb(0,109,119);
  margin-bottom: 10px;

}

#preview-panel-header-select {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
  padding-left: 10px;
  
}

#preview-panel-header-select select {
  width: 150px;
  padding: 5px;
  height: auto;
  border-radius: 0.7%;
  border: solid 1px  rgb(233,236,239, 1);
  font-family: 'Hind';
}

#preview-panel-header-select select:focus {
  border: solid 1px rgb(233,236,239, 1)
}

#preview-panel-header-select-label {
  display: flex;
  align-items: center;
  padding-right: 10px;
  font-size: 0.8rem;
}

@media screen and (max-width: 992px) {
  #preview-panel {
    width: auto;
  }
}