.preview-render-github {
  padding-left: 15px;
  /* font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji; */
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

.preview-render-github h1,
.preview-render-github h2 {
  padding-bottom: 0.3em;
  border-bottom: 1px solid #eaecef;
}

.preview-render-github h1 {
  font-size: 2em;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.preview-render-github h2 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.preview-render-github h3 {
  font-size: 1.25em;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.preview-render-github img {
  max-width: 100%;
  object-fit: scale-down;
}

.preview-render-github p {
  margin-top: 0;
  margin-bottom: 16px;
}

.preview-render-github code {
  background-color: whitesmoke;
}

.preview-render-github pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 6px;
  margin-top: 0;
  margin-bottom: 16px;
}

.preview-render-github a {
  color: #0366d6;
  text-decoration: none;
}

.preview-render-github blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
  margin: 0px;
}

.preview-render-github table {
  margin-bottom: 16px;
  border-spacing: 0;
  border-collapse: collapse;
  border-color: grey;
}

.preview-render-github table th {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
  font-weight: 600;
}

.preview-render-github table td {
  display: table-cell;
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.preview-render-github tr:nth-child(even) {
  background-color: rgb(246, 248, 250);
}

.preview-render-github ul {
  padding-left: 2em;
  margin-top: 0;
  margin-bottom: 16px;
}

.preview-render-github ol {
  padding-left: 2em;
  margin-top: 0;
  margin-bottom: 16px;
}

.preview-render-github li + li {
  margin-top: 0.25em;
}

@media screen and (max-width: 992px) {
  #preview-render code {
    font-size: 0.6rem;
  }

  #preview-render img {
    max-width: 100%;
    height: auto;
    width: auto;
  }
}
