#context-menu {
    position: absolute;
    top: 30px;
    right: 0;
    width: 250px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 25px 50px -12px rgba(255, 255, 255, 0.3);
    padding: 10px 20px 10px 20px;
    transition: width 2s;
}

#context-menu::after{
    transition: all 0.3s ease-out;
}

#context-menu-close {
    font-family: 'Hind', Helvetica, sans-serif;
    font-size: 0.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
    color: white;
    letter-spacing: 0.1rem;
}