.header-toolbar-item {
  padding-right: 10px;
  padding-left: 10px;
  max-width: 30px;
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  .header-toolbar-item {
    padding-right: 6px;
    padding-left: 6px;
    max-width: 20px;
  }
}
