.setting {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.setting:hover {
    border-radius: 10px;
    transition: all 0.3s ease-out;
}