  #editor {
    box-sizing: border-box;
    border: none;
    width: 100%;
    min-height: 100vh;
    padding: 30px;
    background-color: white;
    border-radius: 0.7%;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    font-size: 15px;
  }

  textarea {
    width: 100%;
    resize: none;
  }

  #editor:focus {
    outline: none;
    border: solid 3px #6E7E85;
  }
