.toolbarArea-bottom {
  position: fixed;
  bottom: 20px;
}

.toolbarArea-top {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.toolbarArea-focusMode {
  background: linear-gradient(90deg, rgba(0,109,119,0.81) 10%, rgba(1,118,189,1) 50%, rgba(0,109,119,0.81) 90%);
}

.toolbar {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.toolbar-defaultMode {
  background: rgb(0,109,119);
  background: linear-gradient(90deg, rgba(0, 109, 119,0.8) 45%, rgba(1,118,189,0.8) 100%);
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0 25px 50px -15px rgba(0, 0, 0, 0.5);
}

.toolbar-focusMode {
  background: none; 
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.1); 
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  /* background: rgb(0,109,119, 0.2); */
  -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.1); 
}

::-webkit-scrollbar-thumb:window-inactive {
background: rgba(0,0,0,0.1); 
}

@media screen and (max-width: 1224px) {
  /* #toolbar {
    padding-left: 10px;
    padding-right: 10px;
  } */
}

  