#editorSection {
    width: 50%;
    height: auto;
    margin: 10px;
    /* border: solid 1px black; */
    border-radius: 0.7%;
    padding: 10px;
    background-color: #e9ecef;
    box-shadow: 0 20px 25px -5px rgba(240, 233, 230, 0.5), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  }
    
#editorSection-header {
  display: flex;
  justify-content: space-between;
  
}

#editorSection-header-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}



#editorSection-header-select {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
  padding-left: 10px;
  
}

#editorSection-header-select select {
  width: 150px;
  padding: 5px;
  height: auto;
  border-radius: 0.7%;
  border: solid 1px  rgb(233,236,239, 1);
  font-family: 'Hind';
}

#editorSection-header-select select:focus {
  border: solid 1px rgb(233,236,239, 1)
}

#editorSection-header-select-label {
  display: flex;
  align-items: center;
  padding-right: 10px;
  font-size: 1rem;
}

#editorSection-toolbarArea {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 10px;
}