#editor-panel {
    width: 50%;
    height: auto;
    margin: 10px;
    border-radius: 0.7%;
    padding: 10px;
    background-color: #fbfbfb;
    box-shadow: 0 25px 50px -15px rgba(0, 0, 0, 0.5);
  }
    
#editor-panel-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: rgb(0,109,119);
}

.editor-panel-header-toolbar {
  display: flex;
}

.editor-panel-header-toolbar-item {
  display: flex;
  align-items: center;
  padding-right: 5px;
  padding-left: 5px;
  max-width: 30px;
  cursor: pointer;
}

.editor-panel-header-toolbar-item select {
  width: 150px;
  padding: 5px;
  height: auto;
  border-radius: 0.7%;
  border: solid 1px  rgb(233,236,239, 1);
  font-family: 'Hind', Helvetica, sans-serif;
}

.editor-panel-header-toolbar-item select:focus {
  border: solid 1px rgb(233,236,239, 1)
}

#editor-panel-header-toolbar-item-label {
  display: flex;
  align-items: center;
  padding-right: 10px;
  font-size: 0.8rem;
}



@media screen and (max-width: 992px) {
  #editor-panel {
    width: auto;
  }
}

@media screen and (max-width: 450px) {
  .editor-panel-header-toolbar-item {
      padding-right: 6px;
      padding-left: 6px;
      max-width: 20px;
  }
}