.header{
    display: flex;
    justify-content: space-between;
    /* background-color: #006D77; */
    background: rgb(0,109,119);
    background: linear-gradient(90deg, rgba(0, 109, 119,1) 45%, rgba(1,118,189,1) 100%);
}

.header-title{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 20px;
}

#title {
    margin: 0px;
    padding: 10px;
    color: #EDF6F9;
    font-family: 'Hind', Helvetica, sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
}


.header-toolbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;    
}

.header-toolbar-items {
    display: flex;
    align-items: center;
    padding-right: 5px;
    padding-left: 5px;
    cursor: pointer;
}

.header-toolbar-item {
    padding-right: 15px;
    padding-left: 15px;
}

@media screen and (max-width: 450px) {
    #title {
        padding-top: 12px;
        font-size: 0.8rem;
        width: 50px;
        line-height: 1rem;
    }

    .header-toolbar-item {
        padding-right: 6px;
        padding-left: 6px;
    }
  }

  