/* hind-regular - latin */
@font-face {
    font-family: 'Hind';
    font-style: normal;
    font-weight: 400;
    src: url('../../asset/fonts/hind-v10-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Hind Regular'), local('Hind-Regular'),
         url('../../asset/fonts/hind-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../asset/fonts/hind-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../asset/fonts/hind-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../../asset/fonts/hind-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../asset/fonts/hind-v10-latin-regular.svg#Hind') format('svg'); /* Legacy iOS */
  }

.header{
    display: flex;
    justify-content: space-between;
    /* background-color: #006D77; */
    background: rgb(0,109,119);
    background: linear-gradient(90deg, rgba(0, 109, 119,1) 45%, rgba(1,118,189,1) 100%);
}

.header-title{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 20px;
}

#title {
    margin: 0px;
    padding: 10px;
    color: #EDF6F9;
    font-family: 'Hind';
    font-weight: 100;
    font-size: 1.5rem;
}


.header-toolbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}

.header-toolbar p {
    margin-right: 30px;
}


@media screen and (max-width: 450px) {
    #title {
        padding-top: 12px;
        font-size: 0.8rem;
        width: 50px;
        line-height: 1rem;
    }
  }