.dotchart-increment {
  border-radius: 50%;
  border: solid 2px;
}

.dotchart-item-small {
  width: 15px;
  height: 15px;
  margin-left: 3px;
}

.dotchart-item-medium {
  width: 30px;
  height: 30px;
  margin-left: 6px;
}

.dotchart-item-large {
  width: 60px;
  height: 60px;
  margin-left: 12px;
}
