.toolbar-item {
    cursor: pointer;
    padding: 6px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .toolbar-icon {
    margin: 0px;
  }
  
  .toolbar-label {
    font-size: 12px;
    line-height: 12px;
    color: white;
    margin: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
  }
  
  .toolbar-item:hover {
    cursor: pointer;
    border-radius: 5%;
    background-color: rgb(255,255,255, 0.2);
  }


  @media screen and (max-width: 450px) {
    .toolbar-item {
      padding: 5px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }